<section class="content-header">
  <h1>
    Page Header
    <small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">


  <h1>Home</h1>

  <h3>Your IP: {{ ip }}</h3>

  <h3>Headers from an http request</h3>
  <pre>{{ headers | json }}</pre>

</section>



